body {
  background-color: rgba(15, 100, 80, 100);
}

h1 {
  text-align: center;
}

.flex-outer {
  max-width: 800px;
  padding: 0px 16px;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer li p, .flex-outer > li > label {
  flex: 1 0 125px;
  max-width: 225px;
  padding: 8px;
}

.flex-outer > li > label + * {
  flex: 1 0 225px;
}

.flex-outer > li > button {
  margin-left: 0px;
  padding: 6px 12px;
}

.flex-outer button {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-radius: 3px;
}

.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 0 225px;
  justify-content: space-between;
}

.flex-inner li {
  width: 80px;
}
