/* .flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
  justify-content: space-between;
} */

.flex-outer li, .flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer {
  max-width: 800px;
  padding: 0px 16px
}
